CompileFlags:
  Add:
    - "-I${workspaceFolder}/Sources/ISS/include"
    - "-fretain-comments-from-system-headers"
    - "-Wall"
    - "-Wextra"
    - "-Wpedantic"
    - "-std=c11"
Diagnostics:
  ClangTidy:
    Add:
      - "clang-analyzer-*"
      - "readability-*"
      - "bugprone-*"
      - "performance-*"
    Remove:
      - "readability-magic-numbers"
